body{
    background-color:lightskyblue;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    text-shadow: 4px 0 rgb(26, 61, 63);
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

img{
    width:60%;
}

#game{
    width:80%;
    margin: auto;
    text-align: center;
    background-color:lightskyblue;
}

.player{
    text-align: center;
    display: inline-block;
}

